/*headerLogos*/
.header {
    display: flex;
    flex-basis: initial;
    height: 80px;
    width: 100%;
    background-color: black; 
}
.headerLogo {
    display: flex;
    order: 1;
    justify-content: flex-start;
    align-items: center;
}
#headerBunny {
    display: flex;
    height: 75%;
    margin-left: 5px;
}
#headerGymLogo {
    display: flex;
    margin-left: 10px;
    height: 50px;
}
/*header menus*/
.headerMenu {
    display: flex;
    justify-content: space-evenly;
    order: 2;
    align-items: center;
    margin-left: auto;
}
.headerButton {
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 16px;
    height: 50%;
    width: 100%;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
}