.headerCenter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.headerGymLogo {
    margin: auto;
    flex: 0 1 auto;
    background-color: #ffffff;
    width: 50%;
}

.homeButton {
    margin: auto;
    background-color: rgba(130, 130, 131, 0.637)

}